html{
  height: 100%;
  background: grey;
  background-image: url('../img/gudetama.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  font-family: sans-serif;
  color: #051a00;
}